<div class="container">
    <br>
    <h2>Wybierz date pobytu</h2>
    <div class="container">
    <hr>
    <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="form-group m-2" style="display: inline-block;">
                <label for="startDate">DATA PRZYJAZDU</label>
                <input id="startDate" name="startDate" class="form-control" type="date" style="min-width: 255px;" formControlName="startDate"/>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label for="endDate">DATA ODJAZDU</label>
                <input id="endDate" name="endDate" class="form-control" type="date" style="min-width: 255px;" formControlName="endDate"/>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" style="width: 100%">POKAŻ WYNIKI</button>
    </form>
    <br>
    <hr>
    <h3>{{ hotel.name }}</h3>
    <br>
    <app-room-details *ngFor="let room of availableRooms" [startDate]="startDate" [endDate]="endDate" [hotel]="hotel" [room]="room"></app-room-details>
</div>