<div class="container">
    <br>
    <h2>Wybierz date pobytu i ilość osób</h2>
    <div class="container">
    <hr>
    <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="form-group m-2" style="display: inline-block;">
                <label for="startDate">DATA PRZYJAZDU</label>
                <input id="startDate" name="startDate" class="form-control" type="date" style="min-width: 255px;" formControlName="startDate"/>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label for="endDate">DATA ODJAZDU</label>
                <input id="endDate" name="endDate" class="form-control" type="date" style="min-width: 255px;" formControlName="endDate"/>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label for="numberOfPeople">ILOSC OSOB</label>
                <input id="numberOfPeople" name="numberOfPeople" class="form-control" type="number" style="min-width: 255px;" formControlName="numberOfPeople"/>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" style="width: 100%">SHOW RESULTS</button>
    </form>
    <br>
    <hr>
    <br>
</div>