<h1>Miasta</h1>
<a routerLink="/admin/add-city" class="btn btn-sm btn-success mb-2">Dodaj</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>kraj</th>
            <th>nazwa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{ city.id }}</td>
            <td>{{ city.country.name }}</td>
            <td>{{ city.name }}</td>
            <td style="white-space: nowrap">
                <a routerLink="/admin/edit-city/{{city.id}}" class="btn btn-sm btn-primary mr-1">Edytuj</a>
                <button (click)="deleteCity(city.id)" class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
        <tr *ngIf="!cities">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>