<div class="container">
    <br>
    <h2>Select country and city</h2>
    <br>
    <br>
    <div class="container" id="div_for_comboboxes">
      <form action="" method="post">
        <div>
            <div class="form-group m-2" style="display: inline-block;">
                <label for="source">COUNTRY</label>
                <select class="form-select" id="source" name="source_combobox" style="min-width: 255px;">
                    <option value="">-</option>
                    <!-- {% for source in sources %}
                        <option>{{ source[0] }}</option>
                    {%  endfor %} -->
                </select>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label for="destination">CITY</label>
                <select class="form-select" id="destination" name="destination_combobox" style="min-width: 255px;">
                    <option value="" selected>-</option>
                    <!-- {% for destination in destinations %}
                        <option>{{ destination[0] }}</option>
                    {%  endfor %} -->
                </select>
            </div>
            <div class="form-group" style="display: inline-block;">
                <label for="day_of_week">DAY OF WEEK</label>
                <select class="form-select" id="day_of_week" name="day_of_week_combobox" style="min-width: 255px;">
                    <option value="" selected>-</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>
        </div>
      <br>
        <button type="submit" class="btn btn-info" style="width: 100%">SHOW RESULTS</button>
      <small style="color: #b8b8b8">NOTICE: "-" means possible all options</small>
      </form>
    </div>
