<h1 *ngIf="isAddMode">Dodaj hotel</h1>
<h1 *ngIf="!isAddMode">Edytuj hotel</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex">
        <div class="form-row">
            <div class="form-floating m-1">
                <input type="text" formControlName="name" placeholder="nazwa" class="form-control" required/>
                <label>nazwa</label>
            </div>
            <div class="form-floating m-1">
                <input type="text" formControlName="phone" placeholder="telefon" class="form-control"/>
                <label>telefon</label>
            </div>
            <div class="form-floating m-1">
                <input type="text" formControlName="title" placeholder="tytuł" class="form-control" required/>
                <label>tytuł</label>
            </div>
            <div class="form-floating m-1">
                <input type="number" formControlName="stars" placeholder="gwiazdki" class="form-control" required/>
                <label>gwiazdki</label>
            </div>
        </div>
        <div class="form-row">
            <div>
                <div class="form-group m-2" style="display: inline-block;">
                    <label for="source">KRAJ</label>
                    <select class="form-select" id="country" name="country-select" style="min-width: 255px;" (ngModelChange)="updateCities($event)" formControlName="country">
                        <option value="">-</option>
                        <option *ngFor="let country of countries">{{ country.name }}</option>
                    </select>
                </div>
                <div class="form-group" style="display: inline-block;">
                    <label for="destination">MIASTO</label>
                    <select class="form-select" id="city" style="min-width: 255px;" formControlName="city">
                        <option value="" selected>-</option>
                        <option *ngFor="let city of cities" value="{{ city.id }}">{{ city.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-floating m-1">
                <input type="text" formControlName="street" placeholder="ulica" class="form-control" required/>
                <label>ulica</label>
            </div>
            <div class="form-floating m-1">
                <input type="text" formControlName="number" placeholder="numer" class="form-control"/>
                <label>numer</label>
            </div>
            <div class="form-floating m-1">
                <input type="text" formControlName="postalCode" placeholder="kod pocztowy" class="form-control" required/>
                <label>kod pocztowy</label>
            </div>
        </div>
    </div>
    <div class="form-floating m-1">
        <textarea formControlName="description" placeholder="opis" class="form-control" required></textarea>
        <label>opis</label>
    </div>
    <br>
    <div class="form-group">
        <button class="btn btn-primary">
            Zapisz
        </button>
        <a routerLink="/admin/city" class="btn btn-link">Cofnij</a>
    </div>
    <div class="form-group m-2">
        <div *ngIf="showValidationError" class="alert alert-danger" role="alert">
          Failed!
        </div>
    </div>
</form>