<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a routerLink="country" routerLinkActive="active text-white" class="nav-link link-dark">Kraj</a></li>
        <li><a routerLink="city" routerLinkActive="active text-white" class="nav-link link-dark">Miasto</a></li>
        <li><a routerLink="address" routerLinkActive="active text-white" class="nav-link link-dark">Adres</a></li>
        <li><a routerLink="hotel" routerLinkActive="active text-white" class="nav-link link-dark">Hotel</a></li>
    </ul>
</div>